<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_ID">
	<listener>
       <listener-class>controllers.DriverOnlineController</listener-class>
    </listener>
    <listener>
       <listener-class>controllers.TripQueue</listener-class>
    </listener>
	<display-name>car_rental</display-name>
	<servlet>
		<servlet-name>login</servlet-name>
		<display-name>login</display-name>
		<description></description>
		<servlet-class>controllers.login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>main</servlet-name>
		<display-name>main</display-name>
		<description></description>
		<servlet-class>controllers.main</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Places</servlet-name>
		<display-name>Places</display-name>
		<description></description>
		<servlet-class>controllers.PlacesContoller</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Registration</servlet-name>
		<display-name>Registration</display-name>
		<description></description>
		<servlet-class>controllers.Registration</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>confirm_reg</servlet-name>
		<display-name>confirm_reg</display-name>
		<description></description>
		<servlet-class>controllers.confirm_reg</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CostController</servlet-name>
		<display-name>CostController</display-name>
		<description></description>
		<servlet-class>controllers.CostController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowDriverInfoController</servlet-name>
		<display-name>ShowDriverInfoController</display-name>
		<description></description>
		<servlet-class>controllers.ShowDriverInfoController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RideController</servlet-name>
		<display-name>RideController</display-name>
		<description></description>
		<servlet-class>controllers.RideController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>logout</servlet-name>
		<display-name>logout</display-name>
		<description></description>
		<servlet-class>controllers.logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InvoiceController</servlet-name>
		<display-name>InvoiceController</display-name>
		<description></description>
		<servlet-class>controllers.InvoiceController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>driveController</servlet-name>
		<display-name>driveController</display-name>
		<description></description>
		<servlet-class>controllers.driveController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ScheduleController</servlet-name>
		<display-name>ScheduleController</display-name>
		<description></description>
		<servlet-class>controllers.ScheduleController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PendingRideController</servlet-name>
		<display-name>PendingRideController</display-name>
		<description></description>
		<servlet-class>controllers.PendingRideController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HistoryController</servlet-name>
		<display-name>HistoryController</display-name>
		<description></description>
		<servlet-class>controllers.HistoryController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DriverInfoUpdateController</servlet-name>
		<display-name>DriverInfoUpdateController</display-name>
		<description></description>
		<servlet-class>controllers.DriverInfoUpdateController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProfileController</servlet-name>
		<display-name>ProfileController</display-name>
		<description></description>
		<servlet-class>controllers.ProfileController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateProfileController</servlet-name>
		<display-name>UpdateProfileController</display-name>
		<description></description>
		<servlet-class>controllers.UpdateProfileController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Dashboard</servlet-name>
		<display-name>Dashboard</display-name>
		<description></description>
		<servlet-class>controllers.Dashboard</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserList</servlet-name>
		<display-name>UserList</display-name>
		<description></description>
		<servlet-class>controllers.UserList</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>TripStateChangeController</servlet-name>
		<display-name>TripStateChangeController</display-name>
		<description></description>
		<servlet-class>controllers.TripStateChangeController</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>DriverOnlineUpdaterController</servlet-name>
		<display-name>DriverOnlineUpdaterController</display-name>
		<description></description>
		<servlet-class>controllers.DriverOnlineUpdaterController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/dashboard/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>main</servlet-name>
		<url-pattern>/dashboard/main</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Places</servlet-name>
		<url-pattern>/dashboard/places</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>confirm_reg</servlet-name>
		<url-pattern>/confirm_reg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CostController</servlet-name>
		<url-pattern>/dashboard/cost</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowDriverInfoController</servlet-name>
		<url-pattern>/dashboard/showdriverinfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RideController</servlet-name>
		<url-pattern>/dashboard/ride</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/dashboard/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InvoiceController</servlet-name>
		<url-pattern>/dashboard/invoice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>driveController</servlet-name>
		<url-pattern>/dashboard/drive</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ScheduleController</servlet-name>
		<url-pattern>/dashboard/schedule</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PendingRideController</servlet-name>
		<url-pattern>/dashboard/pendingride</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HistoryController</servlet-name>
		<url-pattern>/dashboard/history</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DriverInfoUpdateController</servlet-name>
		<url-pattern>/dashboard/driverinfoupdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProfileController</servlet-name>
		<url-pattern>/dashboard/profile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateProfileController</servlet-name>
		<url-pattern>/dashboard/updateprofile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Dashboard</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserList</servlet-name>
		<url-pattern>/dashboard/userlist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TripStateChangeController</servlet-name>
		<url-pattern>/dashboard/trip-state</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DriverOnlineUpdaterController</servlet-name>
		<url-pattern>/dashboard/driver-loc</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
